h1 Authentication server
p Gives a user permission to a given service

hr
h3 Demo servers
= link_to 'Jazz site', 'https://mx-jazz-site.herokuapp.com/'
br
= link_to 'Authorization server 001', 'https://authorization-provider-001.herokuapp.com/'
br
= link_to 'Address server 001', 'https://mx-address-server-001.herokuapp.com/'
br
= link_to 'Authentication server 001', 'https://mx-address-server-001.herokuapp.com/'
